<div>
  <h3>Transmissions Views</h3>
  <p>* Indicates required view and cannot be removed.</p>
</div>
<div class="wrapper">
  <div class="subject-info-box-1">
    <h4>Available Views</h4>
    <select size="10" id='lstBox1' class="form-control">
      <option *ngFor='let data of availableDataList; let i = index;' [value]="data.value" (click)="onAvaliableListChange(data, i)">
        {{data.value}}
      </option>
    </select>
  </div>

  <div class="subject-info-arrows text-center">
    <input type='button' [disabled]="addDisabled" id='btnAllRight' (click)="addData()" value='Add >' class="btn btn-default" />
    <br />
    <input type='button' [disabled]="removeDisabled" id='btnAllLeft' (click)="removeData()" value='< Remove' class="btn btn-default" />
  </div>

  <div class="subject-info-box-2">
    <h4>Current Views</h4>
    <select size="10" id='lstBox1' class="form-control" >
      <option *ngFor='let data of currentDataList;let i = index;' [value]="data.value" (click)="onCurrentListChange(data, i)">
        <span *ngIf="data.required">*</span><span *ngIf="!data.required">&nbsp;</span> {{data.value}}
      </option>
    </select>
  </div>

  <div class="clearfix"></div>
</div>